body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial';
}

* {
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.text, a, .by {
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -o-user-select: text !important;
    -ms-user-select: text !important;
}

a {
    position: relative;
    color: #fff;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
}

::selection { background: rgba(255,255,255,0.2); }
::-moz-selection { background: rgba(255,255,255,0.2); }