.iFMWave {
    background-image: url("../images/Emojis/iFMWave.png")
}

.iFMThink {
    background-image: url("../images/Emojis/iFMThink.png")
}

.iFMSnug {
    background-image: url("../images/Emojis/iFMThink.png")
}

.iFMSip {
    background-image: url("../images/Emojis/iFMThink.png")
}

.iFMPog {
    background-image: url("../images/Emojis/iFMPog.png")
}

.iFMLove {
    background-image: url("../images/Emojis/iFMLove.png")
}

.iFMGasm {
    background-image: url("../images/Emojis/iFMGasm.png")
}

.iFMDab {
    background-image: url("../images/Emojis/iFMDab.png")
}

.iFMBlind {
    background-image: url("../images/Emojis/iFMBlind.png")
}

